<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gravity</key>
	<real>2.3</real>
	<key>newTileDropSpeed</key>
	<integer>120</integer>
	<key>newTileDropMinDuration</key>
	<real>0.2</real>
	<key>newTileDropMaxDuration</key>
	<real>0.78</real>
	<key>newTileDropDelay</key>
	<real>0.1</real>
	<key>tileDropAngleRange</key>
	<real>0.2</real>
	<key>tileDropBaseMagnitude</key>
	<real>0.75</real>
	<key>tileDropMagnitudeRange</key>
	<real>0.046</real>
	<key>currentWordManipulationDuration</key>
	<real>0.2</real>
</dict>
</plist>
