<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>match01</key>
	<data>AURORVRIWVJOQ0U0VEVFQ1NFUkJSSUhFVUU0TktNT1BMSFRHQQECGggBAAMCAgQABAUFAwQCAwEFBQABBE40UE5RTkZMTwUIAQADAgQCBQIEAAQDBQMDAwABBAFJTkhTUkNZTjMECQAAAgIBAgADBAIEBQEEAwUAAAIEWkRUR0VWQVNUBAEABAAFAgUBBAEFAEg0U0ZOAwYAAAICBQQCAQIDAgQEAUlOTU9BTQcBAAECAAMCAAIEAgMCAgEAAQMzUE9SQVNVQQAFAQAFAgQABQEEAwQCBAFJTEJOUzMCBQAAAwMEAwQCBQIFA0lSTVRJBQEAAQEAAQUFAQAFAwAARVUzTk9QBQYBAAECAgECAgMCAAEEAQEBM09BT1JNTAMEAQAEBAUDAwIEAwUENElIRVgBBAAABAABAAIAAwFBRUVCBQEABAADAAQCBAEFAQMBUDRTSE5VBAQBAAIBAwECAAQAAwBURDNUTwIEAQAEAgQBAwIDAAMBTDRSU04ACgEAAwUEAgMABQQAAgEBAQICAQICAwIDAUVZSUVSTkFIQ1MzBQoAAAIBBQIFAwEFAAAEAgQAAQAFBAQEVk5TRVJMU0xJTgYBAAEAAAIBAQICAQMBAgABM0FSTkxOQwMGAQAAAAEBAAUFAQECAgEAAUVBQVNTM08BBwEAAQACAQMBBQAEAQMCBAICADRMVUFFQUVEAwkAAAEEAgIDAAAAAQECAAEDAAIEAk9FUk9MTEhVTwQBAAQCBAMCAwUCBQNORUEzRQQHAAAAAgADBAIDAgMBBQIBAUlVUFZPS0UFAQAEAAUDBAIEAwICBQJHU1QzTk0CDAIAAgADAAMBAAIBAgEEAgQFAwMDBAEEAwUFBAABA01UM1JOTk9TVVVFNENJBQAIAgAFAAIBAwEEAQUBAAEBAAUEAQEEADRSU04zRUhJUk8DBQ==</data>
	<key>match02</key>
	<data>AUxXTU9JVFNGRUVORkZGTUhIVFRST1JTM0xTNEVSU0ZFVFlWTAMCCgcAAAICAgMEAQUCAwIFBQMFSUVFR09VUwkCAAMEAwMEBQMFBAQFBQIDAQMBBAIEBQRNSEw0QUFJQUwzUAEACAIAAAEBAQQBBAACAQMABQIBAAIABQFURDRMU0UzTkRSBAUKAgACAAAAAwEEAAUBBAUFBAQDAgEAAQEABAFTUjNUR0JGUjNPQ0wCBAwCAAAAAwECAAUEBAIDAwIDAgEDAgIFAgIBAQQBAQA1VElOSFVXSU4zQUNSTAMFCwEAAgIDAgQAAQUDAAUBAgAAAQEBAQAEAQMBTElFQU5MM0pPRElOAQgBAAUDAQIAAgAAAQECBQEAAgEAAUEzVEFJRUVFTAAIAgAEAQEBAgIBAgAABAAEAgUBAwIAAVM1VFJNVTRNUkwEAAcBAAQBAwEFAQUCAwAAAQUDBAJBRUVJT0FOMwEJAQABAAIBAQEAAgAEBAEAAAADAQIAAU9FSExGSEk0SE4D</data>
</dict>
</plist>
