<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>indicatorMaxDrag</key>
	<integer>200</integer>
	<key>indicatorMaxDragPad</key>
	<integer>135</integer>
	<key>cueDragThreshold</key>
	<integer>56</integer>
	<key>cueDragThresholdPad</key>
	<integer>0</integer>
	<key>cueFont</key>
	<dict>
		<key>name</key>
		<string>Centrale Sans Light</string>
		<key>size</key>
		<integer>18</integer>
	</dict>
	<key>cueFontPad</key>
	<dict>
		<key>name</key>
		<string>Centrale Sans Light</string>
		<key>size</key>
		<integer>22</integer>
	</dict>
	<key>cueEmphasizedFont</key>
	<dict>
		<key>name</key>
		<string>Centrale Sans Medium</string>
		<key>size</key>
		<integer>18</integer>
	</dict>
	<key>cueEmphasizedFontPad</key>
	<dict>
		<key>name</key>
		<string>Centrale Sans Medium</string>
		<key>size</key>
		<integer>22</integer>
	</dict>
</dict>
</plist>
