<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>x</key>
		<real>0.5</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<real>-0.75</real>
	</dict>
	<key>D</key>
	<dict>
		<key>x</key>
		<real>0.75</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>x</key>
		<real>0.2</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>x</key>
		<real>0.8</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<real>-0.75</real>
	</dict>
	<key>H</key>
	<dict>
		<key>x</key>
		<real>0.6</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>x</key>
		<real>0.15</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>x</key>
		<real>0.6</real>
		<key>y</key>
		<real>-0.25</real>
	</dict>
	<key>K</key>
	<dict>
		<key>x</key>
		<real>0.75</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>x</key>
		<real>0.75</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>x</key>
		<real>0.18</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>x</key>
		<real>0.75</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<real>-1.1</real>
	</dict>
	<key>P</key>
	<dict>
		<key>x</key>
		<real>0.75</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>x</key>
		<real>0.55</real>
		<key>y</key>
		<real>-8.800000000000001</real>
	</dict>
	<key>R</key>
	<dict>
		<key>x</key>
		<real>0.75</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>x</key>
		<real>0.58</real>
		<key>y</key>
		<real>-0.2</real>
	</dict>
	<key>T</key>
	<dict>
		<key>x</key>
		<real>0.5</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>x</key>
		<real>0.25</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>x</key>
		<real>0.15</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>x</key>
		<real>0.25</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>x</key>
		<real>0.75</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>x</key>
		<real>0.5</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>x</key>
		<real>0.75</real>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>x</key>
		<real>0.75</real>
		<key>y</key>
		<real>-0.5</real>
	</dict>
	<key>four</key>
	<dict>
		<key>x</key>
		<real>0.3</real>
		<key>y</key>
		<real>-0.5</real>
	</dict>
	<key>five</key>
	<dict>
		<key>x</key>
		<real>0.75</real>
		<key>y</key>
		<real>-0.5</real>
	</dict>
</dict>
</plist>
